// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$primary: #239c8e;
$secondary: #4b249c;
$accent: #8b249c;
$dark: #332b2b;
$dark-page: #1a1a1a;
$positive: #adffc0;
$negative: #b34e00;
$info: #c4dd3a;
$warning: #e8b12d;
$text: #000000;
$light-text: #111111;
$background: #ffffff;
